.my-container {
  background-color: antiquewhite;
  text-align: center;
}

thead>tr>th {
  cursor: pointer;
}

.tr-head {
  width: 1127px;
  position: fixed;
  /*  background: red;
*/
}

th {
  text-align: center;
}

.table-container {
  /*  display: inline-block;
*/
  /*  overflow-y: scroll;
*/
  height: 297px;
}

.tr-head-1 {}

.table-body {
  width: 83%;
  overflow-y: scroll;
  height: 297px;
  position: fixed;
  margin-top: 2.6%;
}

.container {
  height: 403px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
