<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div>
          <h4>
            User Details
          </h4>
          <div class="downloader-cont">
            <img (click)="downloadFile()" class=" download-image " [src]=" 'assets/csvexport.png'">
          </div>
          <div>
            <nav class="navbar">
              Global Search <input class="form-control" type="text" name="search" [(ngModel)]="filter">
            </nav>
          </div>
        </div>
      </div>
      <table class="table table-fixed">
        <!--              <table class="table table-responsive table-hover">
-->
        <thead>
          <tr>
            <th (click)="sort('userId')" style=" width: 10%;"> ID#
              <i class="fa" [ngClass]="{'fa-sort': column != 'userId', 
                        'fa-sort-asc': (column == 'userId' && !isDesc), 
                        'fa-sort-desc': (column == 'userId' && isDesc) }" aria-hidden="true"> </i></th>
            <th (click)="sort('userName')" style=" width: 50%; ">Name
              <i class="fa" [ngClass]="{'fa-sort': column != 'userName', 
                        'fa-sort-asc': (column == 'userName' && !isDesc), 
                        'fa-sort-desc': (column == 'userName' && isDesc) }" aria-hidden="true"> </i>
              <th (click)="sort('userPhone')" style=" width: 39%; ">Points
                <i class="fa" [ngClass]="{'fa-sort': column != 'userPhone', 
                        'fa-sort-asc': (column == 'userPhone' && !isDesc), 
                        'fa-sort-desc': (column == 'userPhone' && isDesc) }" aria-hidden="true"> </i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users  | filter:filter | orderBy:'users.userName' | paginate: { itemsPerPage: 7, currentPage: p } ">
            <td style=" width: 10%; ">{{user.userId}}</td>
            <td style=" width: 50%; ">{{user.userName}}</td>
            <td style=" width: 39%; ">{{user.userPhone}}</td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-container">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <!--  <div>
      <a (click)="downloadFile()">Download</a></div>
-->
    <form #yourForm="ngForm" (ngSubmit)="onSubmit()">
      <input type="text" [(ngModel)]="Name" name="Name" />
      <input type="file" #fileupload [(ngModel)]="myFile" name="myFile" (change)="fileChange(fileupload.files)" />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
