<div class="register-data">
  <div *ngIf='itStatus'>
    <h1> Registration Form </h1>
  </div>
  <!--powers is list of string -->
  <div *ngFor='let pwr of powers'>
    <ul>
      <li>{{pwr}}</li>
    </ul>
  </div>
  <!--itList is list of Obj -->
  <div class="container">
    <div *ngFor='let lst of itList'>
      <ul>
        <li>{{lst.ID}} : {{lst.Name}}</li>
      </ul>
    </div>
  </div>
</div>
<div>
  <input type="text" #url (keyup)="onNameKepup($event)">

  <button (click)="getProfile(url.value)">Get Profile</button>
  <div *ngIf="succesCheck && dofade " class="alert alert-success alert-dismissable " data-dismiss="alert ">
    <a href="# " class="close " data-dismiss="alert " aria-label="close ">&times;</a>
    <strong>Success!</strong> Indicates a successful or positive action.
  </div>
</div>
<pre style="height: 257px;width: 433px;" *ngIf=" succesCheck ">{{get | json}}</pre>


<div colspan="5" *ngIf="errorCheck " class="alert alert-danger ">
  <strong>{{errorMsg}}!</strong> Unable to get profile information.
</div>
<h3 highlight bc='yellow'> Directive Check</h3>
<br><br>
<p highlight bc='yellow'>Host Element
  <br><br> I'm(HostListener) listening to host's <b>click event</b> declared with @HostListener

  <br><br> I'm(HostBinding) binding <b>role property</b> to host element declared with @HostBinding and checking host's property
  binding updates, If any property change is found, I will update it.
</p>

<div> Open DOM of host element, click host element(in UI) and check role attribute(in DOM) </div>
<!--<input type="text" highlights>
{{ " {{3 |simplepipe :1:2 }\}"}}    {{3 |simplepipe :1:2 } <! >}-->
<!--{{chechdata()}}-->
<div style="background: blue; color: goldenrod;">
  Custome Pipie {{3 |simplepipe :1:2}
  <!---->} >> {{3 |simplepipe :1:2 }}
</div>
<!--
<div *ngFor="#value of myMap #key=index">{{key}}:{{value}}</div>

<div *ngFor='let lst of myMap.entries()'>
  <ul>
    <li>{{lst[1]|json }} $$ {{lst[1].key }} :: {{lst[0]}} : {{lst.value}}</li>
  </ul>
</div> -->


<tr *ngFor="let c of myMap">
  <!--  {{c|json }} -->
  <td *ngFor="let key of c | keys">{{key}}: {{c[key]}}</td>
</tr>
